<h1 id='drug-name-header'><%= @prescription.drug_name %></h1>

<h1><%= @text %></h1>

<audio controls src="<%= api_prescription_path(@prescription, language: params[:language], format: :mp3) %>" type="audio/mp3">
